.currency-converter {
  background: linear-gradient(90deg, rgba(48, 43, 194, 1) 14%, rgba(10, 0, 255, 1) 50%, rgba(0, 0, 0, 1) 100%);
    border-radius: 10px;
    padding: 20px;
    color: white;
    max-width: 400px;
    margin: auto;
    text-align: center;
  }
  
  .currency-converter h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 8px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .currency-selectors {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .currency-selector {
    flex: 1;
    margin: 0 10px;
  }
  
  .currency-selector label {
    display: block;
    margin-bottom: 8px;
  }
  
  .swap-icon {
    font-size: 24px;
    margin: 0 10px;
  }
  
  button {
    background-color: #ffffff;
    color: #979797;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .result {
    margin-top: 20px;
    font-size: 18px;
  }
  