.navbar {
    background: linear-gradient(144deg, rgba(63, 81, 181, 1) 0%, rgba(63, 78, 181, 1) 34%, rgba(0, 0, 0, 1) 81%);
    height: 5rem;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 6px 67px 4px rgba(9, 88, 225, 0.63);
    position: sticky;
    top: 0;
}

.navbar-logo {
    margin-left: 2rem;
    margin-right: 2rem;
    width: 50px;
    height: 50px;
}

.navbar-links-container {
    font-size: 2rem;
    text-decoration: none;
    
    margin: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.navbar-links-container p a,
.navbar-sign p, .navbar-menu-container p a, .navbar-menu-container {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 0.5rem;
    text-transform: capitalize;
    
    cursor: pointer;
    text-decoration: none;
}

.navbar-sign {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.navbar-sign button, .navbar-menu-container-links-sign button {
width: 5rem;
height: 3rem;
text-decoration: none;
background: var(--color-subtext);
cursor: pointer;
border-radius: 0.5rem;
padding: 0.5rem ;
font-family: var(--font-family);
font-weight: 600;
font-size: 1rem;
line-height: 1rem;
border: none;
margin-left: 1rem;
}

.navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.navbar-menu svg {
    cursor: pointer;
}

.navbar-menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    margin-top: 1rem;
    padding: 2rem;
    position: absolute;
    min-width: 200px;
    border-radius: 0.9rem;
    box-shadow: 0 6px 7px -4px rgba(0, 54, 148, 0.63);
    right: 0;
}



.navbar-menu-container p {
    margin: 1rem 0;
}

.navbar-menu-container-sign {
    display: none;
}

/* Media Queries */

@media screen and (max-width: 1050px) {
    .navbar-links-container {
        display: none;
    }

    .navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        padding: 2rem 6rem;
    }

    .navbar-menu {
        display: flex;
    }
}

/* smaller screens */
@media screen and (max-width: 500px) {
    .navbar {
        padding: 2rem
    }

    .navbar-sign {
        display: none;
    }

    .navbar-menu-container {
        top: 20px;
    }

    .navbar-menu-container-links-sign {
        display: block;
    }
}

/* header.scrolled {
    background-color: black;
    color: white;
}

header.scrolled nav a {
    color: white;
} */